/*Nav bar*/
.navbar-container {
    background-color: #447A1C;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-logo-container {
    display: flex;
    margin-left: 20px;
    justify-content: flex-start;
    width: 200px;
    height: 36px;
}

.navbar-button-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 1px;
}

.navbar-toggle {
    border-color: white;
}