:root {
    --border-color: #b3b5b6;
}

/*Nav bar*/
.navbar-container {
    background-color: #447A1C;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-logo-container {
    display: flex;
    margin-left: 20px;
    justify-content: flex-start;
    width: 200px;
    height: 36px;
}

.navbar-button-container {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding: 1px;
}

/*Grid*/
.grid-container {
    min-width: 380px;
}

@media (max-width: 991px) {
    .grid-info {
        display: none;
    }
    .grid-item {
        /*background-color: rgb(253, 75, 75);*/
        border-radius: 5px;
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 3px;
    }
}

@media (min-width: 992px) {
    .grid-info {
        font-size: 12px;
    }
    .grid-item {
        /*background-color: rgb(253, 75, 75);*/
        border-radius: 5px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 3px;
    }
}

@media (max-width: 1309px) {
    .grid-weekday-large {
        display: none;
    }
    .grid-weekday-small {
        height: 50px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        border-bottom: 2px solid var(--border-color);
        border-right: 2px solid var(--border-color);
    }
}

@media (min-width: 1310px) {
    .grid-weekday-small {
        display: none;
    }
    .grid-weekday-large {
        height: 50px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 17px;
        border-bottom: 2px solid var(--border-color);
        border-right: 2px solid var(--border-color);
    }
}

.grid-material {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

.grid-item-container {
    min-height: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
}

.grid-text-normal {
    font-size: 20px;
    font-weight: 350;
}

.grid-text-bold {
    font-size: 20px;
    font-weight: bold;
}
